.cards{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card{
  flex: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: 40px 20px;
  flex-basis: 400px;
  align-content: center;

}

.card img{
  width: 530px;
  border-radius: 4px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card img:hover{
-webkit-filter: brightness(0.5);
filter: brightness(0.5);
}

.card h1{
  flex-grow: 1;
  font-size: 40px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.card p{
  flex-grow: 1;
  font-size: 22px;
  text-align: justify;
}

.card h3{
  flex-grow: 1;
  font-size: 18px;
  text-align: center;
}


